@model IEnumerable<Superstore.Models.returns>

@{
    ViewBag.Title = "IndexReturns";
}

<h2>IndexReturns</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.returned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.region)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.returned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.region)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
